.navb .navbar-nav .nav-item {
    margin-right: 15px; /* Adjust the value to increase or decrease the gap */
}

.navb .navbar-nav .nav-item:last-child {
    margin-right: 0; /* Optional: Remove margin from the last item if needed */
}

.navb .navbar-nav .nav-item {
    margin: 0 10px; 
}


.navb .navbar-nav .nav-link {
    color: #000; 
    font-size: 18px; 
    position: relative; 
    text-decoration: none; 
}

.navb .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #CDC2A5; 
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s; 
}

.navb .navbar-nav .nav-link:hover::after {
    width: 100%;
}
.navb {
    background-color: #654520; /* Choose your preferred background color */
}
.navbar {
    background-color: inherit !important; /* Ensures navbar uses the navb background color */
}
/* Card styles */
/* Card styles */
.card {
    border-radius: 15px; /* Rounded corners for the card */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Adjusted duration for smoother transition */
}

.card:hover {
    transform: scale(1.03); /* Reduced scale for a more subtle effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Slightly increased shadow for subtle depth */
    cursor: pointer; /* Indicate that the card is clickable */
}

/* Card image styles */
.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Card title customization */
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Container margin and padding */
.container {
    margin-top: 40px;
    padding-bottom: 50px; /* Add padding at the bottom for space between cards and bottom of the page */
}


body {
    background: linear-gradient(to right, #CDC2A5, #E1D7C6);
}
